.homepage-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
}

.homepage-content {
  align-items: left;
  width: 100%;
  margin: 0 auto; 
}

.homepage-text-button-wrapper {
  height: 100vh;
  flex: 1;
  flex-direction: column;
  background-image: url('../assets/landing.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.homepage-text-button {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 10%;
}

.homepage-title {
  font-size: 108px;
  margin-bottom: 20px;
}

.homepage-description {
  font-size: 54px;
}

.homepage-button {
  margin-top: 30px;
  padding: 15px 30px;
  background-color: #3182ce;
  color: #fff;
  border: none;
  border-radius: 50px; /* Make the button round */
  font-size: 36px;
  cursor: pointer;
  box-shadow: 0 6px 10px rgba(256, 256, 256, 0.8); /* Add a shadow effect */
}

.image-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}


.image-caption-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  width: 50%;
}

.image {
  margin: 100px;
  width: 100%;
  max-width: 780px; /* Adjust the max-width as needed */
  height: auto;
}

.image-caption {
  margin: 100px;
  font-size: 72px;
  text-align: center;
}

